<h2>Create Company</h2>

<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <ngx-text-input
    label="Company Name"
    formControlName="name"
  />

  <ngx-text-input
    label="Industry"
    formControlName="industry"
  />

  <ngx-text-input
    label="Address"
    formControlName="address"
  />

  <label for="description">Description</label>
  <textarea
    id="description"
    rows="5"
    formControlName="description"
    class="textarea"
  ></textarea>

  <ngx-button
    type="submit"
    [disabled]="companyForm.invalid"
  >
    Submit
  </ngx-button>
</form>

