<h2>Create Company</h2>
<ngx-text-input></ngx-text-input>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Company Name</label>
    <input id="name" formControlName="name" />
  </div>
  <div>
    <label for="industry">Industry</label>
    <input id="industry" formControlName="industry" />
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" formControlName="address" />
  </div>
  <div>
    <label for="description">Description</label>
    <textarea rows="5" id="description" formControlName="description"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
